<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namesqpce:名称空间
-->
<mapper namespace="com.java.mapper.ProductMapper">
    <insert id="add">
        insert into product (name,price)
        values (#{name},#{price});
    </insert>


    <select id="selectAll" resultType="Product">
        select *
        from product;
    </select>
    <select id="selectAllById" resultType="com.java.pojo.Product">
        select *
        from product
        where id = #{id};
    </select>
</mapper>